#fade-de-switch {
  position: relative;
  background: #000;
}
#fade-de-switch .is-none {
  display: none !important;
}
#fade-de-switch .pointer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .7;
  line-height: 0;
  font-size: 0;
}
#fade-de-switch .pointer.is-active {
  background-color: #000;
}
#fade-de-switch .pointers {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#fade-de-switch .item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  color: #fff;
  background-color: #333;
}
#fade-de-switch .item .num {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em .8em;
  color: #f00;
  background-color: rgba(255, 255, 255, 0.7);
}
#fade-de-switch .container {
  overflow: hidden;
  position: relative;
  width: 320px;
  margin: 0 auto;
}
