#fade-de-switch {
  position: relative;
  background: #000;
}

#fade-de-switch__inner {
  overflow: hidden;
  position: relative;
  width: 320px;
  height: 380px;
  margin: 0 auto;
}
#fade-de-switch__inner .is-none {
  display: none !important;
}
#fade-de-switch__inner .pointer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background-color: #999;
  border-radius: 6px;
  cursor: pointer;
  line-height: 0;
  font-size: 0;
}
#fade-de-switch__inner .pointer.is-active {
  background-color: #000;
}
#fade-de-switch__inner .pointers {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
#fade-de-switch__inner .item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 380px;
  color: #fff;
  background-color: #333;
}
